<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bermusoft.favtracks">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.LoginActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.TracksListActivity"
            android:label="@string/tracks_list_activity" />
        <activity
            android:name=".ui.AddUserActivity"
            android:label="@string/register_activity"
            android:parentActivityName=".ui.LoginActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.LoginActivity" />
        </activity>
        <activity
            android:name=".ui.AddTrackActivity"
            android:label="@string/add_track_activity"
            android:parentActivityName=".ui.TracksListActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bermusoft.favtracks.ui.TracksListActivity" />
        </activity>
        <activity
            android:name=".ui.DetalleCancionActivity"
            android:label="@string/track_details_activity"
            android:parentActivityName=".ui.TracksListActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.bermusoft.favtracks.ui.TracksListActivity" />
        </activity>
        <activity
            android:name=".ui.FilterActivity"
            android:label="@string/filter_activity"
            android:parentActivityName=".ui.TracksListActivity"
            tools:targetApi="jelly_bean">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.TracksListActivity" />
        </activity>
    </application>

</manifest>